/* Storybook CSS imports */
/* Import theme first (CSS variables) */
@import '@nostromo/ui-tw/themes/nostromo.css';
/* Import base.css which includes Tailwind directives */
@import '@nostromo/ui-tw/base.css';
